@media only screen and (max-width: 756px){
/* 
    MAIN PAGE
*/

body{
    background-image:url("../images/backgrounds/bckgrndtranspng.png");
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
    margin: 0 auto;
    width: 550px;
    max-width: 550px;
    box-sizing: border-box;
}
p{
    font-family: "orbitronlight";
    letter-spacing: 0.1rem;
}
header{
    font-size: 0px;
}
.selectionText{
    position: absolute;
    top: 7%;
    background: black;
    color: white;
    text-align: center;
    width: 40vw;   
    font-size: 2rem;
    font-family: "quantumregular";
    color: rgb(192, 32, 32);


}
#animation{
    position: relative;
    margin: 0 auto;
    bottom:0vh;
    Left: 40%;
    width:100vw;
    height: 50vh;
    /* overflow: hidden; */
    /* background-image: url("../images/plucked/case.png");
    background-repeat: no-repeat;
    background-size:contain; */
}
#caseAnimated{
    position: absolute;    
    top:0vh;
    width: 50%; 
    Left: 0vw;  
}
#moboAnimated{
    position: absolute;    
    top:0vh;
    width: 37%; 
    Left: 0vw;  
}
#cpuAnimated{
    position: absolute;
    top: 62px;
    width: 10%;
    Left: 15vw;
}
#cpuAnimated:hover{
  outline: auto; 
  border: brown solid 2rem;
  z-index: 2;
}
#gpuAnimated{
    position: absolute;
    top: 22vh;
    width: 30%;
    Left: 2vw;
}
#gpuAnimated:hover{
   outline: auto;
   border: brown solid 2rem;
   z-index: 2;
}
.contentMain{
    position: absolute;
    width: 50vw;
    /* height: 6rem; */
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid white;
    background-color: black;
    color: white;
    overflow: hidden;  
    padding: 1rem; 
}
 

/* 
    GPU Page
*/
#gpuImage{
    width: 80vw;
    margin: 0 auto;

}
#gpuInformation{
    display: grid;
    grid-template-areas:
    'txt txt image';    
    gap: 10px;
    background-color: black;
    width: 80vw;
    height: 20vh;
    margin: 20% auto;
    padding: 2px;
}
#gpuInfoText{
    grid-area: txt;    
}
#gpuInfoImage{
    grid-area: image;
}

    
}